.game-container {
  text-align: center;
}

.game-board {
  position: relative;
  width: 400px;
  height: 400px;
  background-color: #000000;
  margin: 0 auto;
  border: 2px solid #555;
}

.snake-segment {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(6, 233, 6);
}

.food {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(225, 6, 6);
  border-radius: 50%;
}
