.game-container {
  text-align: center;
}

h1 {
  border-radius: 20px;
  background: linear-gradient(#e66465, #9198e5);
  margin: 50px 100px 0 100px;
}

.game-board {
  position: relative;
  width: 400px;
  height: 400px;
  background: radial-gradient(circle, #444, #000);
  margin: 0 auto;
  border: 2px solid #888;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.2);
}

.snake-segment {
  position: absolute;
  width: 20px; /* Taille du segment */
  height: 20px;
  background-color: #0f0; /* La couleur du serpent */
  border-radius: 10px; /* Légèrement arrondi, mais pas totalement circulaire */
  box-shadow: 0 0 8px rgba(0, 255, 0, 0.5); /* Optionnel : pour un léger effet de lueur */
}

button {
  cursor: pointer;
  border-radius: 5px;
 font-size: 20px;
  &:hover {
    background-color: rgb(94, 120, 234);
    transition-duration: 1s;
  }
}

.food {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgb(225, 6, 6);
  border-radius: 50%;
}
